body{
    display:grid;
    place-items: center;
}

.contenedor{
    color: palevioletred;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    border: 1px solid #ccc;
}