body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
   width: 100%;
   display: grid;
   place-items: center;
}

.contenido{
    width: 80%;
    align-items: center;
    font-size: medium;
    border: 1px solid #DDD;
    padding: 0 20px;
    margin:0;
}